// FIXME: à quoi ça sert?  → à ne pas avoir de page blanche entre chaque page
#pages {
    position: absolute;
    top: 0;
    /*z-index: -1000;*/
    width: 100%; 
}

.paper {
    width: @page-width-crop; 
    height: @page-height-crop;
    position: relative;
    /*z-index: -10;*/
    counter-increment: page-counter;

    /* utile ou non? pour éviter qu'un papier soit coupé par le format de la
     * page lors de la conversion et l'arrondis des unités */
    page-break-inside: avoid;
    page-break-after: always;
    overflow: hidden;

    /*centrer la page à l'écran */
    /*TODO: move in @screen*/
    margin: 0 auto;
    /*TODO: move in @screen*/
    /*TODO: couleur du papier (non imprimable)*/
    background-color: white;
    /*outline: 1px solid lightgray;*/
    /*box-shadow: 2px 2px 1px 1px lightgray;*/

    /* Crop marks */
    padding: @crop;
    background-image:
        linear-gradient(90deg, red @crop-length, red @crop-bleed, transparent @crop-bleed),
        linear-gradient(0deg, transparent @crop-bleed, red @crop-bleed, red @crop-length),
        linear-gradient(90deg, transparent @crop-bleed, red @crop-bleed, red @crop-length),
        linear-gradient(0deg, transparent @crop-bleed, red @crop-bleed, red @crop-length),
        linear-gradient(90deg, transparent @crop-bleed, red @crop-bleed, red @crop-length),
        linear-gradient(0deg, red @crop-bleed, red @crop-length, transparent @crop-length),
        linear-gradient(90deg, red @crop-length, red @crop-bleed, transparent @crop-bleed),
        linear-gradient(0deg, red @crop-bleed, red @crop-length, transparent @crop-length)
    ;
    background-size: 
        @crop 1px,
        1px @crop,
        @crop 1px,
        1px @crop,
        @crop 1px,
        1px @crop,
        @crop 1px,
        1px @crop
    ;
    background-position:
        left @crop,
        @crop top,
        right @crop,
        right @crop top,
        right bottom @crop,
        right @crop bottom,
        left bottom @crop,
        @crop bottom
    ;
    background-repeat: no-repeat;
}
.page {
    width: 100%;
    height: 100%;
    position: relative;
}

// TODO: changer le format du papier en spread pour pouvoir imprimer en planche
html.spread {
    .paper {
        float: left;

        &:nth-child(odd) {
            margin-left: -@crop * 2;
            left: -1px;
        }

        &:first-child {
            margin-left: @page-width !important;
        }
    }
}


/* Alex */
@media screen {
    .page {
        outline: 1px solid lightgray;
        box-shadow: 2px 2px 1px 1px lightgray;
    }
    .paper {
        margin-bottom: 1em;
    }
}

@media print {
    html {
        width: @page-width-crop;
    }
}


html {
    /*width: @page-width-crop;*/
    /*position: absolute;*/
    background-color: white;
}

body {
    /*position: absolute;*/
}


