.debug .paper:nth-child(even) {
    background-color: yellow;
}
.debug .paper:nth-child(odd) {
    background-color: cyan;
}

.debug #story {
    outline: 1pt solid green;
}
.debug .region-break {
    border-top: 1pt dashed blue;
}

.debug .moveable {
    outline: 1pt solid yellow;
}
.debug .header {
    outline: 1pt solid pink;
}
.debug .body {
    outline: 1pt solid purple;
}
.debug .footer {
    outline: 1pt solid pink;
}
