/* __________________________________ DEBUG __________________________________ */
html.debug {
    /*outline: 1px solid purple;*/

    body {
        /*outline: 1px solid pink;*/
    }
    div.preview-page {
        outline: 1px solid blue;
    }

    div#content {
        outline: 1px solid red;
    }
    .page-break {
        border-top: 1px dashed blue;
    }
}
/* __________________________________ VARIABLES __________________________________ */
@page-width: 148.5mm;
@page-height: 210mm;
@crop-length: 7mm;
@crop-offset: 5mm;
@crop: @crop-length + @crop-offset;    // Based on Scribus cropmarks with 5mm of bleed -> 7mm of marks + 5mm of offset
@page-width-crop: @page-width + (@crop*2); 
@page-height-crop: @page-height + (@crop*2);

/* __________________________________ PAGE SETTINGS  __________________________________ */
* {
    -webkit-print-color-adjust: exact;  /* Allows printing of background colors */
    box-sizing: border-box;
}

@page {
    //size: @page-width @page-height; // format coupé
    size: @page-width-crop @page-height-crop;  // format avec cropmarks
    margin: 0;
}

html {
    //width: 870.55px;
    width: @page-width-crop;
}
body {
}

/* __________________________________ PRINT MARKS  __________________________________ */
div#print-marks {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%; 
}
div.preview-page {
    width: @page-width-crop; 
    height: @page-height-crop;
    //position: absolute; 
    position: relative;
    z-index: -10;
    outline-offset: -@crop;
    /*display: block;*/
}
 
/* __________________________________ CROP MARKS  __________________________________ */
div.crop-top-left,
div.crop-top-right,
div.crop-bottom-right,
div.crop-bottom-left {
    height: @crop;
    width:  @crop;
    position: absolute;
    /*box-sizing: border-box;*/
}
 
div.crop-top-left {
    left: 0;
    top: 0;
}
div.crop-top-right {
    right: 0;
    top: 0;
}
div.crop-bottom-right {
    right: 0;
    bottom: 0;
}
div.crop-bottom-left {
    left: 0;
    bottom: 0;
}
div.crop-top,
div.crop-right,
div.crop-bottom,
div.crop-left {
    width: @crop-length;
    height: @crop-length;
    position: absolute;
    /*box-sizing: border-box;*/
}
div.crop-top {
    border-top: 1px solid black;
}
div.crop-right {
    border-right: 1px solid black;
}
div.crop-bottom {
    border-bottom: 1px solid black;
}
div.crop-left {
    border-left: 1px solid black;
}
 
/* __________________________________ PAGINATION __________________________________ */
/*div.folio {*/
    /*position: absolute;*/
    /*bottom: 20mm;*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*z-index: 1000;*/
/*}*/

/* __________________________________ CONTENT __________________________________ */
div#content {
    margin-top: @crop;
    margin-left: @crop;
    margin-right: @crop;
    padding-left: 5mm;
    padding-right: 5mm;
}

h1, h2, h3, h4, h5, h6 {
    /* Avoids headings to be orphans. But it doesn't seem to work if the element after has a page-break-inside avoid. It tries its best! */
    page-break-after: avoid;
}

/* AN EXAMPLE TO AVOID PAGE BREAK INSIDE, HERE NO PARAGRAPH WILL BE CUT, BUT YOU MIGHT WANT TO DEACTIVATE THIS */
p {
    page-break-inside: avoid;
}

.page-break {
    /* Apply this class to an element to put it on a new page.
     * Hint: you can also use an empty <div class="page-break"></div> if you want to put manual page breaks without attaching it to an HTML element
     */
    page-break-before: always;
    padding-top: @crop;
}
