/**
 * DEBUG STYLES
 */

.debug .header {
    outline: 1px solid pink;
}
.debug .body {
    outline: 1px solid purple;
}
.debug .footer {
    outline: 1px solid pink;
}

.debug .region-break {
    border-top: 1px dashed blue;
    box-sizing: border-box;
}

.debug img {
    outline: 1px solid blue;
}
